
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <div class="card-container">
      <div class="card" >
        <img
          src="../../assets/img/calendar.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">View</h5>
          <p class="card-text">Locate and view tracking records by Email ID</p>
          <a routerLink="/search" class="btn btn-primary">View Records</a>
        </div>
      </div>
    </div>
</div>


    <div class="col-sm-3">
        <div class="card-container">
      <div class="card" >
        <img
          src="../../assets/img/add-record.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Create</h5>
          <p class="card-text">
            Add a time tracking record by Email ID 
          </p>
          <a routerLink="/create" class="btn btn-primary">Create Record</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

